{% extends "base-dashboard.html" %}
{% load staticfiles %}

{% block head %}

<meta name="description" content="Page that contains the listing of the all TimePiece Admins.">
<meta name="keywords" content="TimePiece,Admins,">
<title>Administrators Registration - TimePiece</title>

{% endblock head %}

{% block content %}
        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper" class=" grey lighten-3">
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Registro de Administradores</h5>
                <ol class="breadcrumb">
                    <li><a href="#">Usuarios</a></li>
                    <li><a href="#">Administracion</a></li>
                    <li class="active">Registro de Administradores</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!--breadcrumbs end-->

        <!--start container-->
        <div class="container">
          <div class="section">
            <div class="divider"></div>

            <!--DataTables example-->
            <div id="login-page" class="row">
              <div class="col s3.7 m3.7 l5">
                <p></p>
              </div>
              <div class="col s3.7 l3.7 z-depth-4 card-panel">
                <form class="login-form">
                  <div class="row">
                    <div class="input-field col s12 center">
                      <h4>Registro</h4>
                      <p class="center">Estos campos son requeridos <span class="red-text">  *</span></p>
                    </div>
                  </div>
                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-social-person-outline prefix"></i>
                      <input id="username" type="text">
                      <label for="username" class="center-align">NombreCompleto <span class="red-text"> *</span> </label>
                    </div>
                  </div>
                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-communication-email prefix"></i>
                      <input id="email" type="email">
                      <label for="email" class="center-align">Email <span class="red-text"> *</span> </label>
                    </div>
                  </div>
                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-communication-phone prefix"></i>
                      <input id="phone" type="tel">
                      <label for="phone">Telefono <span class="red-text"> *</span> </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <a href="index.html" class="btn waves-effect waves-light col s12">Registrar Ahora</a>
                    </div>
                    <div class="input-field col s12">
                      <p class="margin center medium-small sign-up"></p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <br>
            <div class="divider"></div>
          </div>
        </div>
        <!--end container-->
{% endblock content %}