{% extends "base-dashboard.html" %}
{% load staticfiles %}

{% block head %}

<meta name="description" content="Page that contains the listing of the all TimePiece Admins.">
<meta name="keywords" content="TimePiece,Admins,">
<title>Profile - TimePiece</title>

{% endblock head %}

{% block content %}
        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper" class=" grey lighten-3">
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Perfil</h5>
                <ol class="breadcrumb">
                    <li><a href="#">Perfil</a></li>
                    <li class="active">Actualizacion</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!--breadcrumbs end-->

        <!--start container-->
        <div class="container">
          <div class="section">
            <div class="divider"></div>

            <!--DataTables example-->
            <div id="login-page" class="row">
              <div class="col s3.7 m3.7 l5">
                <p></p>
              </div>
              <div class="col s3.7 l3.7 z-depth-4 card-panel">
                <!-- Important: To be able to send the file or image information to the view is needed to add the
                enctype="multipart/form-data" property -->
                <form class="login-form" enctype="multipart/form-data" method="post">
                  {% csrf_token %}
                  <div class="row margin center">
                    <!-- Important: UserProfile word was changed to userprofile to make it work -->
                    <!-- Important: Any ImageField or FileField can to be validated only calling the object, it's
                    not necessary to use a equal(==), is None or Null, etc. -->
                    {% if user.userprofile.image_profile %}
                      <img src="{{ user.userprofile.image_profile.url }}" class="circle responsive-img valign profile-image image">
                    {% else %}
                      <img src="{% static 'images/unknown-user.jpg' %}" class="circle responsive-img valign profile-image image">
                    {% endif %}
                  </div>
                  <div class="row margin">
                    <div class="file-field input-field col s12">
                          <div class="waves-effect waves-circle waves-light btn-floating col offset-s1 center-block">
                            <span><i class="mdi-file-file-upload"></i></span>
                            <input type="file" accept='.jpg, .png, .jpeg' name="image_uploaded" id="id_image_profile"/>
                          </div>
                          <input class="file-path validate col offset-l1" type="text"/>
                    </div>
                  </div>
                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-social-person-outline prefix"></i>
                      {{ form.username }}
                      <label for="username" class="center-align">NombreCompleto <span class="red-text"> *</span> </label>
                    </div>
                  </div>
                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-communication-email prefix"></i>
                      {{ form.email }}
                      <label for="email" class="center-align">Email <span class="red-text"> *</span> </label>
                    </div>
                  </div>
                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-communication-phone prefix"></i>
                      {{ form.phone }}
                      <label for="phone">Telefono <span class="red-text"> *</span> </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <button class="btn waves-effect waves-light col s12" type="submit" name="action">Registrar Ahora</button>
                    </div>
                    <div class="input-field col s12">
                      <a href="javascript:history.go(-1)" class="btn waves-effect waves-light col s12">Cancelar</a>
                    </div>
                    <div class="input-field col s12">
                      <p class="margin center medium-small sign-up"></p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <br>
            <div class="divider"></div>
          </div>
        </div>
        <!--end container-->
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/jquery-ui.js' %}"></script>

  <!-- Others-->
  <script type="text/javascript" src="{% static 'js/others.js' %}"></script>

  <script type="text/javascript">
      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  Materialize.toast('{{ error|escape }}', 4000);
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              Materialize.toast('{{ error|escape }}', 4000);
          {% endfor %}
      {% endif %}

      {% if messages %}
          {% for message in messages %}
              Materialize.toast('{{message}}',4000);
          {% endfor %}
      {% endif %}
  </script>
{% endblock scripts %}