{% load staticfiles %}
<!DOCTYPE html>
<html>
<body>
    <div style="text-align: center;">
        <h2 style="color: #0c0c0c"> Estimado/a {{username}}! </h2>
        <br>
        <p style="color: #0c0c0c"> Ha solicitado reestablecer su contraseña.</p>
        <p style="color: #0c0c0c"> Ingrese en el siguiente enlace para continuar</p>
        <br>
        <p>http://{{ host }}{% url 'password_reset' token=key %}</p>
        <br>
        <p style="color: #0c0c0c"> Fecha de Expiracion: {{ date_expiration }}</p>
    </div>
</body>
</html>
